.navBar {
  background-color: #3367d6;
  display: flex;
  padding: 10px 30px;
  align-items: center;
  height: 20vh;
}
.searchBox {
  background-color: #2850a7;
  margin: auto;
  width: 40vw;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #6697ff;
  border-radius: 5px;
}
.searchBox input {
  background-color: transparent;
  color: #ffffff;
  outline: none;
  border: 0;
  width: 40vw;
  height: 40px;
}
.searchResultsContainer {
  background-color: #ffffff;
}
.noItems {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
